@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Variables globales
$first-color: rgb(22, 66, 60);
$first-color-transparent: rgba(22, 66, 60, 0.4);
$second-color: rgb(106, 156, 137);
$second-color-transparent: rgba(106, 156, 137,0.9);
$third-color:rgb(196, 218, 210);
$fourth-color:rgb(233, 239, 236);
$font-stack: "Noto Sans", sans-serif;
